<!-- Info Windows -->

<info-window id='Powerhouse' max-width="200" visible-on-marker="{{bar.name}}">
  <div ng-non-bindable="">
    <div id="siteNotice"></div>
    <h1 id="firstHeading" class="firstHeading">Powerhouse</h1>
    <div id="bodyContent">
      <p><b>Powerhouse</b>, </p>
      <p>Attribution: Uluru, <a href="//en.wikipedia.org/w/index.php?title=Uluru&amp;oldid=297882194">
      http://en.wikipedia.org/w/index.php?title=Uluru</a>
      (last visited June 22, 2009).</p>
    </div>
  </div>
</info-window>
